.main {
  background-color: #FAFAFA;
}

.header {
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  color: white;
  display: inline-block;
  margin: auto;
  color: white;
}

.header-left {
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  padding: 1em;
  padding-left: 4rem;
  line-height: 2rem;
  font-size: 14px;
  letter-spacing: 0.6px;
  float: left;
}

.header-center {
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  padding: 1em;
  line-height: 2rem;
  font-size: 14px;
  letter-spacing: 0.6px;
}

.header-right {
  font-family: 'Ubuntu', sans-serif;
  display: inline-block;
  padding: 1em;
  padding-right: 4rem;
  line-height: 2rem;
  font-size: 14px;
  letter-spacing: 0.6px;
  float: right;
}


.announcement {
  padding-top: 2rem;
}

.about {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  height: 35em;
  font-size: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  background-image: linear-gradient(
                     rgba(20,20,20, .40),
                     rgba(20,20,20, .40)),
                     url('https://s3-us-west-1.amazonaws.com/climbinglife/DSC00987.JPG');
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.grid-container {
  width: 80%;
  margin-top: 2rem;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 10px;
}

.grid-item {
  margin-top: 1rem;
  height: 20rem;
  font-size: 30px;
  text-align: center;
}

.grid-image {
  max-width:100%;
  max-height: 100%;
}

.seperator {
  border-bottom: 1px grey solid;
  margin: 3rem 50px 1rem 50px;
}
